body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 122);
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background-color:rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border: 1.5px solid rgb(0, 0, 122);
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

.box .inputBox{
    position: relative;
}

.box .inputBox input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 122);
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 122);
}

.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(0, 0, 122);
    left: -5px;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -29px;
    left: -9px;
    color: rgb(0, 0, 122);
    font-size: 16px;
}

.box input[type="submit"]{
    position: relative;
    background: transparent;
    border:none;
    outline: none;
    color: #fff;
    background-color: blue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    left: 31%;
}

